<div class="header">
  <h3 class="text-muted">Madlib</h3>
</div>

<div class="jumbotron">
  <div class="row">
    <div class="col-sm-3">
      <img src="images/mad-lib-happy-face.png" alt="" class="img-responsive">
    </div>
    <div class="col-sm-9">
      <img src="images/ng-mad-libs-logo.png" alt="" class="img-responsive">
    </div>
  </div>
  <h3 class="text-left">Provide the following words:</h3>
  <div class="row">
    <form>
      <div class="col-sm-4">
        <input class="madlib" type="text" ng-model="name" placeholder="Male Name"/>
        <input class="madlib" type="text" ng-model="job" placeholder="Job Title"/>
        <input class="madlib" type="text" ng-model="task" placeholder="Tedious Task"/>
      </div>
      <div class="col-sm-4">
        <input class="madlib" type="text" ng-model="dirty" placeholder="Dirty Task"/>
        <input class="madlib" type="text" ng-model="celeb" placeholder="Celebrity"/>
        <input class="madlib" type="text" ng-model="skill" placeholder="Useless Skill"/>
      </div>
      <div class="col-sm-4">
        <input class="madlib" type="text" ng-model="obnox" placeholder="Obnoxious Celeb" />
        <input class="madlib" type="number" ng-model="huge" placeholder="Huge Number"/>
        <input class="madlib" type="text" ng-model="adjective" placeholder="Adjective" />
      </div>
      <a ng-click="male=true;" class="btn btn-primary">Male</a>
      <a ng-click="male=false;" class="btn btn-primary">Female</a>
    </form>
  </div>
</div>

<div class="hero" ng-init="male=true">
  <p><b>{{name}}</b> was a <b>{{job}}</b> who loved technology. Although <span ng-if="male">he</span><span ng-if="!male">she</span> loved parts of <span ng-if="male">his</span><span ng-if="!male">her</span> job, <span ng-if="male">he</span><span ng-if="!male">she</span> absolutely hated <b>{{task}}</b> and <b>{{dirty}}</b>. So, <b>{{name}}</b> met with <span ng-if="male">his</span><span ng-if="!male">her</span> mentor <b>{{celeb}}</b> who told <span ng-if="male">him</span><span ng-if="!male">her</span> to learn how to <b>{{skill}}</b> with Thinkful. Thinkful didn't offer a course on <b>{{skill}}</b> so <span ng-if="male">he</span><span ng-if="!male">she</span> studied programming instead.</p>
  <p>What a great decision! With <span ng-if="male">his</span><span ng-if="!male">her</span> new skills, <b>{{name}}</b> built a(n) <b>{{adjective}}</b> robot named <b>{{obnox}}</b> that not only loved <b>{{dirty}}</b> but did it a <b>{{huge}}</b> times faster.</p>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-tree-deciduous"></span>RPH</p>
</div>
